<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - 登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="/admin/css/animate.css" rel="stylesheet">
    <link href="/admin/css/style.css?v=4.1.0" rel="stylesheet">

    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">s p</h1>

            </div>
            <h3>欢迎使用 超级商城管理后台</h3>

            <div class="m-t">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户名或者邮箱" required="" id="uName">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" required="" id="uPwd">
                </div>
                <button id="btnSub" class="btn btn-primary block full-width m-b">登 录</button>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/admin/js/plugins/layer/layer.min.js"></script>
    <script src="/admin/js/ss.js"></script>
    <script>
        $(function() {
            $('#btnSub').click(function() {
                var uName = $('#uName').val().trim()
                var uPwd = $('#uPwd').val().trim()
                if (uName == '' || uPwd == '') {
                    alert('用户或密码不能为空')
                    return
                }
                $.ajax({
                    type: "post",
                    url: "/admin/login_sub",
                    data: {
                        uName,
                        uPwd
                    },
                    dataType: "json",
                    success: function(res) {
                        alert(res.msg)
                        if (res.status == 'y') {
                            location.href = '/admin'
                        }
                    }
                });
            })
        })
        $(document).keydown(function(ev) {
            if (ev.key == 'Enter') {
                var uName = $('#uName').val().trim()
                var uPwd = $('#uPwd').val().trim()
                if (uName == '' || uPwd == '') {
                    alert('用户或密码不能为空')
                    return
                }
                console.log(ev.key)
                $.ajax({
                    type: "post",
                    url: "/admin/login_sub",
                    data: {
                        uName,
                        uPwd
                    },
                    dataType: "json",
                    success: function(res) {
                        alert(res.msg)
                        if (res.status == 'y') {
                            location.href = '/admin'
                        }
                    }
                });
            }　　
        });
    </script>
</body>

</html>