<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <% include ../layout/mobile/header %>
        <title>超级商城-首页</title>
</head>

<body>
    <!-- <div class="page">
        <div class="header">
            <h3>超级商城</h3>
        </div>
    </div> -->

    <div class="page bd">
        <div class="page__bd">
            <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required/>
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
												<i class="weui-icon-search"></i>
												<span>搜索</span>
										</label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>

        </div>
    </div>
    </div>

    <div class="banner">
        <img src="/images/59c06d8cN6538146c.jpg" alt="">
    </div>
    <div class="page">
        <div class="weui-grids">
            <% queryData.forEach(function(item){%>
                <a href="javascript:;" class="weui-grid">
                    <p class="weui-grid__label">
                        <%= item.name %>
                    </p>
                </a>
                <%})%>
        </div>
    </div>


    <% const home = 'javascript:;' %>
        <% const shop = '/mobile/goods' %>
            <% const goShop = 'javascript:;' %>
                <% const me = '/mobile/me' %>
                    <% include ../layout/mobile/navbr %>
                        <% include ../layout/mobile/footer %>
                            <% include ../layout/mobile/seacher %>
</body>

</html>